footer {
  position: fixed;
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: #f2f2f2;
  text-align: center;
  font-size: 15px; 
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: auto
}
.header-nav-item:hover>a, .header-nav-folder-item:hover a {
  color: red !important;
}
.header-nav-item--active>a, .header-nav-folder-item--active>a, .header-menu-nav-item--active>a .header-menu-nav-item--active {
    color: green !important;
}






